#comic {
    color: white;
}

#wars {
    color: white;
}

.topleft li {
    padding-right: 40px;
}

#title {
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    color: white;
}

#bar {
    background: #222;
    height: 80px;
    border-bottom: 1px solid black;
    border-top: 2px solid black;
}

.social li{
    list-style: none;
    display: inline;
    padding-right: 20px;
}                                                                                   /* Header only till here*/

#intro {                                                                            /*middle body starts*/
    background: #e8e9ea;
    padding-top: 20px; 
    text-align: center;
    border-top: 1px solid black;
}

body {
    background: #e8e9ea;
    top margin: 20px;
}

#marvel {
    width: 300px;
    padding-top: 35px;
}

#dc {
    width: 200px;
    height: 200px;
}

.pictures {
    height: 500px;
    width: 500px;
    padding-left: 50px; 
    padding-top: 50px
}                                                                   /* Miidle content done*/
                                        

#contentheader {                                                    /* After pictures content*/
    color: #f2f2f2;
    background: #222;
    font-family: 'Supermercado One', cursive;
    letter-spacing: -1px;
}                                                                  

.subheading {
    padding-top: 30px;
    font-family: 'Acme', sans-serif;
}

.subpara {
    padding-top: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

#footer {                                                             /* footer */ 
    background: #222;
    color: #f2f2f2;
    font-family: 'Slabo 27px', serif;
    font-size: 14px;
}                                                                      